<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="Pdfium.Net.Free" version="3.0.1.1-alpha" targetFramework="net40" />
  <package id="Pdfium.Net.Free.Extensions" version="3.0.1.1-alpha" targetFramework="net40" />
  <package id="PdfiumViewer.Free" version="3.0.1.1-alpha" targetFramework="net40" />
</packages>